body {
    height: 100vh;
}
.box {
    background-color: rgb(123, 123, 123);
    border: 1px solid rgb(0, 0, 0);
    height: 90%;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 20vh;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

main {
    height: 70vh;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

footer {
    height: 10vh;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}